// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   background-color: white;
    
}

h1 {
    color: 	#FFFFFF;
    font-family: verdana;
    font-size: 20px;
   
}

p {
    font-family: verdana;
    font-size: 20px;
    color: #4682B4;
}


.flex-container {                //Usado para organizar itens como checkbox
    display: inline-block;
    width: 600px;
    height: 5px;
    margin: 20px;
   
}

.d {
    justify-content:space-around;
}

.d input{
    text-align:center;
}
.title{                                 //Titulo das paginas
    
     display: inline-block;
     width: 100%;
     background-color: #4682B4;
     height: 45px;
     
}
.field_generate{
    padding-top: 50px;
    

}
.field_generate label{
    font-family: verdana;
    font-size: 15px;
    
}
.e {
    justify-content:space-between;
    width: 50%;
    display: inline-flex;
    padding-bottom: 30px;
   
}
.f{
    justify-content:space-between;
    width: 70%;
    display: inline-flex;
    padding-bottom: 30px;
    
}
.divider{                                                   //Divisao de titulos para campos
    padding-top: 3px;
    font-family: verdana;
    color: 	#FFFFFF;
    font-size: 15px;
    width: 100%;
    background-color: #4682B4;
}

table, th{
    border-bottom: 1px solid #4682B4;
}
table, th, td {
   background-color: #FFFFFF;
   color: #4682B4;
   
}
td{
    width: 8%;
    
}

.b{
    background-color:#4682B4
    
}

.css_btn_class {
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	padding: 5px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #63b8ee 5%, #4682b4 100% );
	background:-ms-linear-gradient( top, #63b8ee 5%, #4682b4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#4682b4');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #4682b4) );
	background-color:#63b8ee;
	color:#14396a;
	display:inline-block;
	text-shadow:1px -2px 0px #7cacde;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	-moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	box-shadow:inset 1px 1px 0px 0px #bee2f9;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #4682b4 5%, #63b8ee 100% );
	background:-ms-linear-gradient( top, #4682b4 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4682b4', endColorstr='#63b8ee');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #4682b4), color-stop(100%, #63b8ee) );
	background-color:#4682b4;
}.css_btn_class:active {
	position:relative;
	top:1px;
}

.actions input{
    
    font-size:13px;
	font-family:Arial;
	font-weight:normal;
	padding: 10px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #63b8ee 5%, #4682b4 100% );
	background:-ms-linear-gradient( top, #63b8ee 5%, #4682b4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#4682b4');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #4682b4) );
	background-color:#63b8ee;
	color:#14396a;
	display:inline-block;
	text-shadow:1px -2px 0px #7cacde;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	-moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	
}
.actions input:hover {
	background:-moz-linear-gradient( center top, #4682b4 5%, #63b8ee 100% );
	background:-ms-linear-gradient( top, #4682b4 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4682b4', endColorstr='#63b8ee');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #4682b4), color-stop(100%, #63b8ee) );
	background-color:#4682b4;
}
.actions input:active {
	position:relative;
	top:1px;
}



