<h1>Resíduos mais Cadastrados</h1>
<% @collection = Collection.last %>
<table>
  <thead>
    <tr>
      <th>Resíduo Mais Frequentemente Cadastrado por Laboratorio</th>
      <tr>
          <th>Laboratorio</th>
          <th>Resíduo</th>
          <th colspan="3"></th>
        </tr>
    </tr>
  </thead>

  <tbody>
    <% @collection.residue_often_registered %>
    <% Laboratory.all.each do |laboratory| %>
        <td><%= laboratory.name %></td>
        <td><%= @collection.residue_often_registered_list[laboratory.name.parameterize.underscore.to_sym] %></td/>
    <% end %>
  </tbody>
</table>
<br>


