<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/main_adm"><strong>SGRQ</strong> - Resíduos Químicos</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/departments/new">Criações</a></li>
                    <li><a href="/reports/new">Relatórios</a></li>
                    <li><a href="/statistic">Estatístico</a></li>
                    <li><a href="/registers/new">Registro</a></li>
                    <li><a href="/request">Requisições</a></li>
                    <li><a href="/account">Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tipos:</li>
              <li ><a href='/departments/new'>Departamento</a></li>
              <li><a href='/laboratories/new'>Laboratório</a></li>
              <li class="active"><a href='/residues/new'>Resíduo</a></li>
               <li><a href='/collections/new'>Coleta</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <h1>Novo Resíduo</h1>
            <%= render 'form', residue: @residue %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>
    </div><!--/.fluid-container-->
</div>



